<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Pacjenci</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">
    <H1>Dane pacjenta</H1>
    Id: <b th:text="${patient.id}"></b><br/>
    Imię: <b th:text="${patient.firstName}"></b><br/>
    Nazwisko: <b th:text="${patient.lastName}"></b><br/>
    PESEL: <b th:text="${patient.PESEL}"></b><br/>

    <a class="btn btn-success" href="/patients">Wróc do listy</a>
</div>
</body>
</html>