<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Lista ról</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">

    <H1>Lista Ról</H1>

    <div th:if="${roleListPage.hasContent() eq false}">
        <span>Brak ról w bazie</span>
    </div>
    <div th:if="${roleListPage.hasContent() eq true}">



        <span th:inline="text">
           Baza zawiera [[${roleListPage.totalElements}]] Ról
        </span>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Nazwa</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role : ${roleListPage.content}">

                <td>
                    <a th:href="@{/roles/details(id=${role.id})}" th:inline="text">[[${role.type}]]</a>
                </td>


                <td >
                    <a class="btn btn-danger" th:href="@{/roles/delete(id=${role.id})}" th:text="Usuń"></a> <!-- TODO sec:authorize="hasRole('ROLE_ADMIN')"-->
                    <a class="btn btn-success" th:href="@{/roles/edit(id=${role.id})}" th:text="#{edit}"></a>

                </td>

            </tr>

            </tbody>
        </table>

        <div th:replace="shared/pagination :: pager('/roles', ${roleListPage})"></div>

    </div>



    <a class="btn btn-success" href="/roles/add">Dodaj rolę</a>
</div>
</body>
</html>