<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Zabieg</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:method="POST" th:object="${treatment}" th:action="'/treatments/'+${action}">
                <fieldset>
                    <h1 th:text="${action}"></h1>

                    <div class="form-group">
                        <input type="text" name="name" th:value="*{name}"
                               class="form-control" th:classappend="${#fields.hasErrors('name')}?'is-invalid'"
                               placeholder="nazwa zabiegu" required="true" autofocus="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('name')}">
                            <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="price" th:value="*{price}"
                               class="form-control" th:classappend="${#fields.hasErrors('price')}?'is-invalid'"
                               placeholder="cena zabiegu" required="true" autofocus="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('price')}">
                            <span th:each="err : ${#fields.errors('price')}" th:text="${err}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <select th:field="*{active}" class="form-control"
                                th:classappend="${#fields.hasErrors('active')}?'is-invalid'">
                            <option value="false" disabled="true">Wybierz czy zabieg jest Aktywny</option>
                            <option th:value="true" th:text="Dostępny"/>
                            <option th:value="false" th:text="Niedostępny"/>
                            <!--<option th:value="true" th:text="#{treatment.active.true}"/>-->
                            <!--<option th:value="false" th:text="#{treatment.active.false}"/>-->
                        </select>
                        <div class="error text-danger" th:if="${#fields.hasErrors('active')}">
                            <p th:each="err : ${#fields.errors('active')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Zapisz"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="hidden" th:field="*{id}"/>
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>
</body>
</html>