<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Cennik</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">

    <H1>Cennik</H1>

    <div th:if="${treatmentsPage.hasContent() eq false}">
        <span>Brak zabiegów w bazie</span>
    </div>
    <div th:if="${treatmentsPage.hasContent() eq true}">

        <span th:inline="text">
           Baza zawiera [[${treatmentsPage.totalElements}]] zabiegi/ów
        </span>


        <form id="searchForm" modelAttribute="searchCommand">
            <div class="row">
                <div class="form-group col-md-6">
                    <!--<label th:each="phrase">Szukana fraza:</label>-->
                    <a>Szukana fraza: </a>
                    <input path="phrase" cssClass="form-control" cssErrorClass="form-control is-invalid"/>
                    <errors path="phrase" cssClass="error text-danger" element="div"/>
                </div>

                <div class="form-group col-md-3">
                    <!--<label th:each="phrase">Cena od:</label>-->
                    <a>Cena od: </a>
                    <input path="minPrice" cssClass="form-control" cssErrorClass="form-control is-invalid"/>
                    <errors path="minPrice" cssClass="error text-danger" element="div"/>
                </div>
                <div class="form-group col-md-3">
                    <!--<label th:each="phrase">Cena do:</label>-->
                    <a>Cena do: </a>
                    <input path="maxPrice" cssClass="form-control" cssErrorClass="form-control is-invalid"/>
                    <errors path="maxPrice" cssClass="error text-danger" element="div"/>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-8"></div>

                <div class="form-group col-md-2">
                    <!--<c th:if test="${searchCommand.isEmpty() eq false}">-->
                        <!--<a href="/treatments/list.html?all" class="btn btn-success">-->
                            <!--<span class="glyphicon glyphicon-refresh"></span> Pokaż wszystko-->
                        <!--</a>-->
                    <!--</c>-->
                </div>

                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span> Wyszukaj
                    </button>
                </div>
            </div>
        </form>


        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Dostępny</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Opcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="treatment : ${treatmentsPage.content}">

                <td>
                    <a th:href="@{/treatments/details(id=${treatment.id})}" th:inline="text">[[${treatment.name}]]</a>
                </td>
                <td th:inline="text">[[${treatment.price}]] zł</td>
                <!--<td th:if="${treatment.active}" th:text="#{treatment.active.true}"></td>-->
                <td th:if="${treatment.active}">Dostępny</td>
                <!--<td th:unless="${treatment.active}" th:text="#{treatment.active.false}"></td>-->
                <td th:unless="${treatment.active}">Niedostępny</td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" >
                    <a class="btn btn-danger" th:href="@{/treatments/delete(id=${treatment.id})}" th:text="Usuń"></a>
                    <!--<a class="btn btn-warning" th:href="@{/treatments/edit(id=${treatment.id})}" th:text="#{edit}"></a>-->
                    <a class="btn btn-warning" th:href="@{/treatments/edit(id=${treatment.id})}">Edytuj</a>

                    <a class="btn btn-success" th:href="@{/treatments/change_active(id=${treatment.id})}">
                        <span th:if="${treatment.active}">Dezaktywuj</span>
                        <span th:unless="${treatment.active}">Aktywuj</span>
                    </a>
                </td>

            </tr>

            </tbody>
        </table>

        <div th:replace="shared/pagination :: pager('/treatments', ${treatmentsPage})"></div>

    </div>

    <!--<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success" href="/treatments/add"th:text="#{add_new( #{treatment})}" ></a>-->
    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success" href="/treatments/add" >Dodaj</a>


</div>
</body>
</html>