<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Strona domowa</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">
    <h1 style="font-size: 30pt">
        Zostałeś poprawnie zarejestrowany.
    </h1>
    <p>jednak twoje konto musi zostać aktywowane przez administratora przed rozpoczęciem
        pracy w naszym gabinecie</p>
</div>
</body>
</html>