<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Lista użytowników</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">

    <H1>Lista Użytkowników</H1>

    <div th:if="${userListPage.hasContent() eq false}">
        <span>Brak użytkowników w bazie</span>
    </div>
    <div th:if="${userListPage.hasContent() eq true}">



        <span th:inline="text">
           Baza zawiera [[${userListPage.totalElements}]] użytkownik/ów
        </span>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Username</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userListPage.content}">

                <td>
                    <a th:href="@{/users/details(id=${user.id})}" th:inline="text">[[${user.patient.firstName}]]</a>
                </td>
                <td>
                    <a th:href="@{/users/details(id=${user.id})}" th:inline="text">[[${user.patient.lastName}]]</a>
                </td>
                <td>
                    <a th:href="@{/users/details(id=${user.id})}" th:inline="text">[[${user.username}]]</a>
                </td>

                <td sec:authorize="isAuthenticated()">
                    <span th:each="role: ${#authentication.getAuthorities()}">
                        <span th:text="${role}"/>
                    </span>
                </td>


                <td >
                    <a class="btn btn-danger" th:href="@{/users/delete(id=${user.id})}" th:text="Usuń"></a> <!-- TODO sec:authorize="hasRole('ROLE_ADMIN')"-->
                    <a class="btn btn-success" th:href="@{/users/edit(id=${user.id})}" th:text="Edytuj"></a>

                </td>

            </tr>

            </tbody>
        </table>

        <div th:replace="shared/pagination :: pager('/users', ${userListPage})"></div>

    </div>



    <a class="btn btn-success" href="/users/add" >Dodaj nowego użytkownika</a>
</div>
</body>
</html>