<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Lista zaplanowanych zabiegów</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">

    <H1 th:inline="text">Lista zaplanowanych zabiegów</H1>

    <div th:if="${scheduledTreatmentsPage.hasContent() eq false}">
        <span>Brak zabiegów w bazie</span>
    </div>
    <div th:if="${scheduledTreatmentsPage.hasContent() eq true}">



        <span th:inline="text">
           Baza zawiera [[${scheduledTreatmentsPage.totalElements}]] zaplanowanych zabiegów
        </span>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Data wizyty</th>
                <th>Do zapłaty</th>
                <th>Zapłacono</th>
                <th>Utworzono</th>
                <th>Data ostatniej modyfikacji</th>
                <th>Dentysta</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="scheduledTreatment : ${scheduledTreatmentsPage.content}">

                <td th:inline="text">[[${#dates.format(visit.visitDate, 'dd-MM-yyyy HH:mm')}]]</td>
                <td th:inline="text">[[${visit.getPrice()}]]</td>
                <td th:inline="text">[[${visit.getPaid()}]]</td>
                <td th:inline="text">[[${#dates.format(visit.createdDate, 'dd-MM-yyyy HH:mm')}]]</td>
                <td th:inline="text">[[${#dates.format(visit.createdDate, 'dd-MM-yyyy HH:mm')}]]</td>
                <td th:inline="text">[[${visit.dentist.patient.first_name}]] [[${visit.dentist.patient.last_name}]]</td>
                <td >
                    <a class="btn btn-danger" th:href="@{visits/delete(id=${visit.id})}" th:text="Usuń"></a>
                    <a class="btn btn-success" th:href="@{visits/edit(id=${visit.id})}" th:text="#{edit}"></a>
                    <a class="btn btn-success" th:href="@{scheduled_treatments/visit(id=${visit.id})}">Zaplanowane zabiegi</a>
                </td>

            </tr>

            </tbody>
        </table>

        <div th:replace="shared/pagination :: pager('/visits/list/patient', ${visitsPage})"></div>

    </div>

    <a class="btn btn-success" href="visits/add" th:text="#{add_new( #{visit})}"></a>


</div>
</body>
</html>