<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Strona glowna</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div class="jumbotron">
    <div class="container">
        <h1>Gabinet stomatologiczny Ząbek</h1>
        <p>System wspierający działanie gabinetu stomatologicznego.</p>
    </div>
</div>

<div id="main" class="container body-content" style="margin-top:20px;">
    <h2>Ogłoszenia</h2>
    <hr/>
    <div class="panel panel-warning">
        <div class="panel-heading news">OGLOSZENIE </div>
        <div class="panel-body" style="">
            LOREM IPSUM
        </div>
    </div>
    <!---
    TODO pętla z ogłoszeniami
    --->
</div>
</body>
</html>