<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="pager(mainUrl, page)"
     th:with="
         firstPageUrl=${mainUrl}+'?page=0&amp;size='+${page.size},
         prevPageUrl=${mainUrl}+'?page='+${page.number - 1}+'&amp;size='+${page.size},
         nextPageUrl=${mainUrl}+'?page='+${page.number + 1}+'&amp;size='+${page.size},
         lastPageUrl=${mainUrl}+'?page='+${page.totalPages - 1}+'&amp;size='+${page.size}
    "
>


    <nav>
        <ul class="pagination">

            <li th:class="${page.first}?'disabled'">
                <a th:href="${page.first?'#':firstPageUrl}">
                    <span>Pierwsza</span>
                </a>
            </li>

            <li th:class="${page.first}?'disabled'">
                <a th:href="${page.first?'#':firstPageUrl}">
                    <span>&laquo;</span>
                </a>
            </li>


            <li th:each="pageIdx : ${#numbers.sequence( 0, page.totalPages-1)}"
                th:with="pageUrl=${mainUrl}+'?page='+${pageIdx}+'&amp;size='+${page.size}"
            >
                <a th:inline="text" th:href="${pageUrl}">[[${pageIdx+1}]]</a>
            </li>

            <li th:class="${page.last}?'disabled'">
                <a th:href="${page.last?'#':nextPageUrl}">
                    <span>&raquo;</span>
                </a>
            </li>

            <li th:class="${page.last}?'disabled'">
                <a th:href="${page.last?'#':lastPageUrl}">
                    <span>Ostatnia</span>
                </a>
            </li>

        </ul>
    </nav>


</div>

</body>
</html>