<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Lista pacjentów</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">

    <H1>Lista Recept</H1>

    <div th:if="${receiptsPage.hasContent() eq false}">
        <span>Brak recept w bazie</span>
    </div>
    <div th:if="${receiptsPage.hasContent() eq true}">

        <span th:inline="text">
           Baza zawiera [[${receiptsPage.totalElements}]] recept
        </span>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Data wystawienia</th>
                <th>Pacjent</th>
                <th>Wystawiający</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="receipt : ${receiptsPage.content}">

                <td>
                    <a th:href="@{/receipts/details(id=${receipt.id})}" th:inline="text">[[${#dates.format(receipt.createdDate, 'dd-MM-yyyy')}]]</a>
                </td>
                <td>
                    <a th:href="@{/receipts/details(id=${receipt.id})}" th:inline="text">[[${receipt.patient.firstName}]] [[${receipt.patient.lastName}]]</a>
                </td>
                <td>
                    <a th:href="@{/receipts/details(id=${receipt.id})}" th:inline="text">[[${receipt.dentist.patient.firstName}]] [[${receipt.dentist.patient.lastName}]]</a>
                </td>

                <td >
                    <a class="btn btn-danger" th:href="@{/receipts/delete(id=${receipt.id})}" th:text="Usuń"></a> <!-- TODO sec:authorize="hasRole('ROLE_ADMIN')"-->
                    <a class="btn btn-success" th:href="@{/receipts/edit(id=${receipt.id})}" th:text="Edytuj"></a>

                </td>

            </tr>

            </tbody>
        </table>

        <div th:replace="shared/pagination :: pager('/patients', ${receiptsPage})"></div>

    </div>



    <a class="btn btn-success" href="/receipts/add" > Dodaj Receptę </a>
</div>
</body>
</html>